name: CI

on:
  pull_request:
  push:
    branches:
      - main

defaults:
  run:
    shell: bash

permissions:
  contents: read

jobs:
  actionlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: hirofumi/run-actionlint@main
  tag-check:
    if: github.event_name == 'push' && github.ref_name == 'main'
    runs-on: ubuntu-latest
    outputs:
      missing-tag: ${{ steps.tag-check.outputs.missing }}
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Check if tag exists or not
        id: tag-check
        run: |
          tag=v$(yq --expression '.runs.steps[].uses | capture("^docker://rhysd/actionlint:(?P<v>[^@]+)") | .v' action.yml)
          if git ls-remote --tags origin "$tag" | grep .; then
            echo "::notice::tag $tag already exists"
            exit
          fi
          echo "missing=$tag" >> "$GITHUB_OUTPUT"
  tag-push:
    if: success() && needs.tag-check.outputs.missing-tag != ''
    needs: [actionlint, tag-check]
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Configure git
        run: |
          git config --global user.name "$GITHUB_ACTOR"
          git config --global user.email "${GITHUB_ACTOR}@users.noreply.github.com"
      - name: Update README.md if necessary
        env:
          tag: ${{ needs.tag-check.outputs.missing-tag }}
        run: |
          sed -i "s| uses: hirofumi/run-actionlint@[^ ]*| uses: hirofumi/run-actionlint@${tag}|g" README.md
          if git diff --quiet; then
            echo "::notice::README.md is already up-to-date"
            exit
          fi
          git add README.md
          git commit -m "Update README.md"
          git push origin main
      - name: Create and push tag
        env:
          tag: ${{ needs.tag-check.outputs.missing-tag }}
        run: |
          git tag -m "" "$tag"
          git push origin "$tag"
